<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bangla_bondhu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BanglaBondhu">
        <activity android:name=".DashboardActivity" />
        <activity android:name=".model.gcptts.GCloudTTSActivity" />
        <activity android:name=".OCRActivity" />
        <activity android:name=".SigninLoginActivity" />
        <activity android:name=".GetStartedActivity" />
        <activity android:name=".RegisterNumberActivity" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".PDFActivity_" />
        <activity android:name=".PDFActivityTwo" />
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_input"
            android:theme="@style/Theme.BanglaBondhu.NoActionBar" />
        <activity
            android:name=".GoogleSigninActivity"
            android:label=".activity_get_started"
            android:theme="@style/Theme.BanglaBondhu.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="orc" />
    </application>

</manifest>